#homeHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homeHeader nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

#body {
  display: flex;
  /* Change this line ↓ */
  margin-top: 50px;
  flex-direction: column;
  height: 100%;
  gap: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 2px black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 4px 5px black;
}
